body {
  background: rgb(93, 201, 172);
  }
  
  .dropdown-container {
    text-align: center;
    border:5px solid rgb(20, 19, 19);
   display: inline-block;
  }

  
 .select-style select:focus {
    outline: none;
  }
  
  .select-style option{
    font-size: 20px;
  }
  
  
  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #af4c9e;
    color: white;
  }
  
  button {
    background-color: rgb(246, 182, 217);
    width: 140px;
    height: 35px;
    font-size: 16px;
    border-radius: 12px
  }
  
  input{
    width: 170px;
    height: 30px;
    font-size: 16px;
    margin-right: 10px;
  }
  label{
    margin-left: 40px;
    margin-right: 10px;
  }